---
// Timeline component that will hold all project blocks
---

<section class="timeline">
  <header class="timeline-header">
    <h1>dago / portfolio</h1>
  </header>
  
  <div class="timeline-container">
    <slot />
  </div>
</section>