---
export interface Props {
  title?: string;
}

const { title = "dago / portfolio" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/dago-icon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    
    <!-- SEO -->
    <meta name="description" content="Rodau ką esu sukūręs: Danieliaus IT darbų portfolio. (Tik techniniai darbai ir tik vartotojų naudojami projektai; be AI generuotų demo ir kitos kūrybos, vadybos.)" />
    <meta name="author" content="Dago" />
    
    <!-- Open Graph -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content="Rodau ką esu sukūręs: Danieliaus IT darbų portfolio. (Tik techniniai darbai ir tik vartotojų naudojami projektai; be AI generuotų demo ir kitos kūrybos, vadybos.)" />
    <!-- <meta property="og:image" content="/og-image.jpg" /> -->
  </head>
  
  <body>
    <main class="space-y-4">
      <slot />
    </main>

    <aside class="mt-12">
      <details>
        <summary><h2>→ O štai čia kiti projektai, kurių negaliu įvardinti dėl NDA ←</h2></summary>

        <main>
          <ul>
            <li><strong>Svetainė su krovinių pervežimo skaičiuoklėmis (atstumas, trukmė, kaina):</strong> WordPress, Guttenberg, API</li>
            <li><strong>El. parduotuvė su tiekėjų duombazių importavimu:</strong> WordPress, Elementor, WooCommerce, Rivile, API, XML</li>
            <li><strong>Reprezentacinė svetainė su PDF dokumentacijos archyvu ir paieška:</strong> WordPress, Thrive Architect + Custom plugin katalogų įkėlimui, indeksavimui, paieškai.</li>
            <li><strong>Reprezentacinės svetainės, įvairios (x11):</strong> WordPress + Bricks / Elementor / Thrive Architect / Beaver Builder; pagal klientų pageidavimą.</li>
          </ul>
        </main>
      </details>
    </aside>

    <footer class="mt-12">
      <a href="https://notbyai.fyi" target="_blank" rel="noopener">
        <img 
          src="/notbyai.png" 
          srcset="/notbyai.png 1x, /notbyai@2x.png 2x"
          alt="Not by AI"
          width="132"
          height="43"
          />
      </a>
    </footer>
  </body>
</html>